<table class="c3-tooltip"><tbody><tr><th colspan="2">{{name}}</th></tr><tr class="c3-tooltip-name--"><td class="name"><span style="background-color:{{col}}"></span>{{val_name}}</td><td class="value">{{val}}</td></tr>
{{#if val2}}
<tr class="c3-tooltip-name--"><td class="name"><span style="background-color:{{col2}}"></span>{{val2_name}}</td><td class="value">{{val2}}</td></tr>
{{/if}}
</tbody></table>