<table class='table table-condensed'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>DOB</th>
    </tr>
  </thead>
  <tbody>
  {{#each patients}}
    <tr>
      <td>{{patientDetailLink name pid}}</td>
      <td>{{gender}}</td>
      <td>{{dob}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="3">No Residents Found</td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{#if prevUrl}}
  {{paginationButton 'Prev' prevUrl}}
{{else}}
  <span class="na">Prev</span>
{{/if}}
  |
{{#if nextUrl}}
  {{paginationButton 'Next' nextUrl}}
{{else}}
  <span class="na">Next</span>
{{/if}}
<p class="pull-right">
<a download href="{{downloadUriJson}}">Download Patient List Data (JSON)</a>
</p>