<div id="p_record">
  <h2>Patient Record<button type="button" class="close" aria-label="Close"> <span aria-hidden="true">&times;</span> Close</button></h2>
  <div id="p_brief" class="row">
    <div id="p_brief_photo" class="col-xs-4 col-sm-3">
      <img src="assets/img/profile_placeholder.png" alt="Patient Photo" style="width:100%;">
    </div>
    <div id="p_brief_records" class="col-xs-8 col-sm-9">
      <div id="p_brief_name_address" class="p_block">
        <dl class='dl-horizontal p_brief_family'>
          <dt>Family name</dt>
          <dd>{{familyName}}</dd>
          <dt>Given name</dt>
          <dd>{{givenName}}</dd>
          <dt>Address</dt>
          {{#each address.address}}
            <dd>{{this}}</dd>
            {{else}}
              <dd class='incomplete'>n/a</dd>
          {{/each}}
          <dt>City, State</dt>
          <dd>{{address.city}}, {{address.state}}</dd>
          <dt>Postal Code</dt>
          <dd>{{address.postalCode}}</dd>
        </dl>
      </div>
      <div><a target="_blank" href="{{jsonUri}}">Download Patient Data (JSON)</a> | <a target="_blank" href="{{ccdaUri}}">Download Patient Data (CCDA)</a></div>

    </div>
  </div>
  
      <div id="p_brief_stats">
        <div class="row">
          <div class="p_block col-sm-6">
            <dl class='dl-horizontal'>
              <dt>Height</dt>
              <dd id="p_brief_hgt_val"><span class="incomplete">n/a</span></dd>
              <dt>Weight</dt>
              <dd id="p_brief_wgt_val"><span class="incomplete">n/a</span></dd>
              <dt>Blood Type</dt>
              <dd><span class="incomplete">n/a</span></dd>
              <dt>Vision</dt>
              <dd><span class="incomplete">n/a</span></dd>
            </dl>
          </div>
          <div class="p_block col-sm-6">
            <dl class='dl-horizontal'>
              <dt>DOB</dt>
              <dd id="p_brief_dob_val">{{dob}}</dd>
              <dt>Age</dt>
              <dd id="p_brief_age_val">{{age}}</dd>
              <dt>Gender</dt>
              <dd>{{gender}}</dd>
              <dt>Race</dt>
              <dd>{{race}}</dd>
              <dt>Ethnicity</dt>
              <dd>{{ethnicity}}</dd>
              <dt>Spoken language</dt>
              <dd>{{communication}}</dd>
            </dl>
          </div>

        </div>
      </div>
    </div>

<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="patient_tab_nav">
    <li role="presentation" class="active"><a href="#p_observations" aria-controls="p_observations" role="tab" data-toggle="tab">Observations</a></li>
    <li role="presentation"><a href="#p_allergies" aria-controls="p_allergies" role="tab" data-toggle="tab">Allergies</a></li>
    <li role="presentation"><a href="#p_medications" aria-controls="p_medications" role="tab" data-toggle="tab">Medications</a></li>
    <li role="presentation"><a href="#p_conditions" aria-controls="p_conditions" role="tab" data-toggle="tab">Conditions</a></li>
    <li role="presentation"><a href="#p_vaccinations" aria-controls="p_vaccinations" role="tab" data-toggle="tab">Vaccinations</a></li>
  </ul>
  <div class="tab-content" id="patient_tab_content">
    <div role="tabpanel" class="tab-pane active" id="p_observations">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Observation</th>
                    <th scope="col">Value</th>
                    <th scope="col"></th>
                    <th scope="col">Date Recorded</th>
                </tr>
            </thead>
            <tbody id="p_observations_list">
                <tr>
                <td><div data-loader="circle" class="loader"></div></td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div role="tabpanel" class="tab-pane"  id="p_allergies">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Allergies</th>
                    <th scope="col">Date Recorded</th>
                </tr>
            </thead>
            <tbody id="p_allergies_list">
                <tr>
                    <td><div data-loader="circle" class="loader"></div></td>
                    <td>--</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div role="tabpanel" class="tab-pane"  id="p_medications">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Medication</th>
                    <th scope="col">Dosage</th>
                    <th scope="col">Date of Rx</th>
                </tr>
            </thead>
            <tbody id="p_medications_list">
                 <tr>
                    <td><div data-loader="circle" class="loader"></div></td>
                    <td>--</td>
                    <td>--</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div role="tabpanel" class="tab-pane"  id="p_conditions">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Condition</th>
                    <th scope="col">Date of Onset</th>
                    <th scope="col">Date Resolved</th>
                </tr>
            </thead>
            <tbody id="p_conditions_list">
                 <tr>
                    <td><div data-loader="circle" class="loader"></div></td>
                    <td>--</td>
                    <td>--</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div role="tabpanel" class="tab-pane"  id="p_vaccinations">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Vaccinations</th>
                    <th scope="col">Date Last Given</th>
                </tr>
            </thead>
            <tbody id="p_vaccinations_list">
                 <tr>
                    <td><div data-loader="circle" class="loader"></div></td>
                    <td>--</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
